header
  nav#navbar_top.navbar-home.navbar.navbar-expand-lg.navbar-dark.bg-primary
    .container
      a.brand-home(onclick="javascript:window.location.reload();")
        .row 
          .col-2 
            img(src='image/logo.png' width='27' height='27' alt='')
          .col-10  
            h4.header-text Cavalese Food

      .dropdown
        button#dropdownMenu.btn.btn-ouline-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          img.photo-profile(src='image/logo.png' width='27' height='27' alt='')
        .dropdown-menu.menu-profile(aria-labelledby='dropdownMenu')

          a.item-dropdown(href='/profile')
            .dropdown-item
              img#item(src="image/iconset/profile.png", alt="", width="17")
              span#text Profile
              
          .dropdown-divider
          
          a.item-dropdown(href='/')
            .dropdown-item
              img#item(src="image/iconset/logout.png", alt="", width="17")
              span#text Logout
            
  