include ../content/ajax
.wrapper
  nav#sidebar
    ul.list-unstyled.components
      li
        a(href='/home')(class = linkHome ? 'text-active' : '')(class = linkOrder ? 'text-active' : '')
          img#itemSidebar(src="image/iconset/home.png", alt="", width="18")
          span#textSidebar Home
      li
        a.dropdown-toggle(href='#homeSubmenu' data-toggle='collapse' aria-expanded='false')
          img#itemSidebar(src="image/iconset/menu.png", alt="", width="18")
          span#textSidebar Menu
        ul#homeSubmenu.collapse.list-unstyled
          li
            a(href='/food')(class =(linkMenuFood && 'text-active-sub-menu'))
              img#itemSidebar(src="image/iconset/food.png", alt="", width="18")
              span#textSidebar 
              |   Food
          li
            a(href='/drink')(class =(linkMenuDrink && 'text-active-sub-menu'))
              img#itemSidebar(src="image/iconset/drink3.png", alt="", width="18")
              span#textSidebar
              |    Drink
          li
            a(href='/snack')(class =(linkMenuSnack && 'text-active-sub-menu'))
              img#itemSidebar(src="image/iconset/snack.png", alt="", width="18")
              span#textSidebar
              |    Snack
      li
        a(href='/aboutUs')(class =(linkAboutUs && 'text-active'))
          img#itemSidebar(src="image/iconset/AU2.png", alt="", width="18")
          span#textSidebar About
      li
        a(href='/CS')(class =(linkService && 'text-active'))
          img#itemSidebar(src="image/iconset/service.png", alt="", width="18")
          span#textSidebar Customer Service 
      

      