extends ../layout

block content
  .lds-dual-ring#loader
  .content-about-us
    .row 
      .col 
        .card.card-owner(style='width: 18rem;')
          img.owner(src='image/man.jpg' alt='...')
          .card-body
            h5.title-owner.card-title Simon Gabriel
            h6.sub-tilte-owner.card-subtitle.mb-2.text-muted CEO Cavalese

            p.text-owner.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            a.text-btn-owner.btn.btn-primary(href='#') Look Profile
        .box-social-media
          h3.text-contact-us Contact Us :
          a.btn-social-media.facebook(href='#')
            i.fab.fa-facebook
          a.btn-social-media.instagram(href='#')
            i.fab.fa-instagram
          a.btn-social-media.twitter(href='#')
            i.fab.fa-twitter
          a.btn-social-media.whatsapp(href='#')
            i.fab.fa-whatsapp

      .col
        img.back-img-about(src="image/vector/blob.svg", alt="", srcset="") 
        img.img-about(src="image/vector/aboutUs.png", alt="", srcset="") 
        .box-text-about
          p.title-text-about Cavalese Food
          p.text-about 
            | Is a restaurant that provides a wide variety of food brand beverages.
            | we will always provide the best service to our customers, and we
            | always serve quality food and drinks and of course hygienic.
    
    .footer.footer-home
      center 
        | Version 
        .badge.badge-info= vPackage.version  
        |  @2021 Cavalese Food
  block content