script.
  const actionAllMenu = (id) => {
    $.ajax({
      url: `/api/getAllData`,
      type: 'get',
      dataType: `json`,
      success: function(result){
        let dataMenu = result.data 
        let allData = dataMenu[0]
        let string = ``
        dataMenu.forEach((data) => {
          let price = data.price
          price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          string += 
          `<div class="col-2">
            <div class="card menu-item mt-3 " style="width: 9.3rem;">
              <img class="card-img-top img-items" src=${data.image}>
                <div class="desc-product">
                  <h5 class="title-menu card-title">${data.nama}
                  <p class="card-text text-price"> Rp ${price} </p>
                  <a class="btn-buy-home btn btn-light mr-2 mb-2 mt-4" href="/home/order">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                  <button class="btn-buy-home btn btn-light mr-2 mb-2 mt-4" type="button" data-toggle="modal" data-target="#modalUpdate" onclick="updateMenu('${data.itemCode}', '${data.category}')">
                    <i class="fas fa-edit"></i>
                  </button>
                  <form method="post" action="/api/deleteMenu">
                    <input type="text" name="itemCode" class="d-none" value=${data.itemCode}>
                    <button class="btn btn-danger">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </form method="POST" action="/api/updateMenu">
                  <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">       
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title title-new-category" id="exampleModalLabel">Edit Category</h4>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body content-modal-add-drink">
                          <div class="panel-body">
                            <form action="/api/updateMenu" method="POST">
                              <div class="form-group add-menu d-none">
                                <label>Item Code</label><span class="requred-fill">*</span>
                                <input id="itemCode" class="item-code new-menu form-control" type="text" name="itemCode" required="required" />
                              </div>
                              <div class="form-group add-menu">
                                <label>Name</label><span class="requred-fill">*</span>
                                <input class="new-menu form-control" type="text" value="${data.nama}" name="nama" required="required" />
                              </div>
                              <div class="form-group add-menu">
                                <label>Category</label><span class="requred-fill">*</span>
                                <select class="new-menu form-control" name="category">
                                  <option id="category" class="category"></option>
                                </select>
                              </div>
                              <div class="form-group add-menu">
                                <label>Stock</label><span class="requred-fill">*</span>
                                <input class="new-menu form-control" type="number" value="${data.qty}" name="qty" required="required"/>
                              </div>
                              <div class="form-group add-menu">
                                <label>Price</label><span class="requred-fill">*</span>
                                <input class="new-menu form-control" type="number" value="${data.price}" name="price" required="required" onkeydown="if(event.key==='.'){event.preventDefault();}" oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"/>
                              <button class="btn btn-primary float-right ml-2 mt-2" id="submit" type="submit">Save</button>
                              <button class="btn btn-secondary float-right mt-2" type="button" data-dismiss="modal">Cancel</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>`
        })

        $('#card-all-menu').html(string)
      }
    })
  }
 
  const updateMenu = (itemCode, category) => {
    console.log(itemCode)
    //- document.getElementById("itemCode").disabled = true;
    $(document).ready(() => {
      $('#itemCode').val(`${itemCode}`)
      $('#category').html(`${category}`)
    })
    //- window.location.href = '/home/order'
    $.ajax({
      url: `/food/order/`,
      type: 'get',
      dataType: `json`,
      success: function(result){
      
      }  
    })

  }

  const actionFood = (id) => {
    $.ajax({
      url: `/api/getAllFoods`,
      type: 'get',
      dataType: `json`,
      success: function(result){
        let dataMenu = result.data 
        let allData = dataMenu[0]
        let string = ``
        dataMenu.forEach((data) => {
          let price = data.price
          price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          string += 
          `<div class="col-2">
            <div class="card menu-item mt-3 " style="width: 9.3rem;">
              <img class="card-img-top img-items" src=${data.image}>
                <div class="desc-product">
                  <h5 class="title-menu card-title">${data.nama}
                  <p class="card-text text-price"> Rp ${price} </p>
                  <a class="btn-buy-home btn btn-light mr-2 mb-2 mt-4" href="/home/order">Buy</a>
                </div>
              </div>
            </div>
          </div>`
        })

        $('#card-food').html(string)
      }
    })
  }

  const actionDrink = (id) => {
    $.ajax({
      url: `/api/getAllDrinks`,
      type: 'get',
      dataType: `json`,
      success: function(result){
        console.log(result)
        let dataMenu = result.data 
        let allData = dataMenu[0]
        let string = ``
        dataMenu.forEach((data) => {
          let price = data.price
          price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          string += 
         `<div class="col-2">
            <div class="card menu-item mt-3 " style="width: 9.3rem;">
              <img class="card-img-top img-items" src=${data.image}>
                <div class="desc-product">
                  <h5 class="title-menu card-title">${data.nama}
                  <p class="card-text text-price"> Rp ${price} </p>
                  <a class="btn-buy-home btn btn-light mr-2 mb-2 mt-4" href="/home/order">Buy</a>
                </div>
              </div>
            </div>
          </div>`
        })

        $('#card-drink').html(string)
      }
    })
  }

  const actionSnack = (id) => {
    $.ajax({
      url: `/api/getAllSnacks`,
      type: 'get',
      dataType: `json`,
      success: function(result){
        console.log(result)
        let dataMenu = result.data 
        let allData = dataMenu[0]
        let string = ``
        dataMenu.forEach((data) => {
          let price = data.price
          price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          string += 
         `<div class="col-2">
            <div class="card menu-item mt-3 " style="width: 9.3rem;">
              <img class="card-img-top img-items" src=${data.image}>
                <div class="desc-product">
                  <h5 class="title-menu card-title">${data.nama}
                  <p class="card-text text-price"> Rp ${price} </p>
                  <a class="btn-buy-home btn btn-light mr-2 mb-2 mt-4" href="/home/order">Buy</a>
                </div>
              </div>
            </div>
          </div>`
        })

        $('#card-snacks').html(string)
      }
    })
  }