extends ../layout

block content
  .lds-dual-ring#loader
  .base-content
    .content-mid(onload='myFunction()')
      .banner
        #carouselExampleInterval.carousel.slide(data-ride='carousel')
          .carousel-inner
            .carousel-item.active(data-interval='4000')
              img.banner-img.banner-img.d-block.w-100(src='image/vector/chef.svg' alt='...')
              .carousel-caption.d-none.d-md-block
                .text-banner
                  h1.banner-top We give our best service 
                  h1 So enjoy our menu

            .carousel-item(data-interval='4000')
              img.banner-img.d-block.w-100(src='image/vector/SP.svg' alt='...')
              .carousel-caption.d-none.d-md-block
                .text-banner
                  h1.banner-top We choose the best 
                  h1 And quality materials

            .carousel-item
              img.banner-img.d-block.w-100(src='image/vector/chef2.svg' alt='...')
              .carousel-caption.d-none.d-md-block
                .text-banner
                  h1.banner-top We employ the best
                  h1  chefs and staff

      include ./ajax
      .content-items
        .items-food
          nav.navbar.navbar-expand-lg.navbar-light
            #navbarText.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.menu-items.nav-item.active
                  button(onclick=`actionFood()`).btn-food.btn.btn-light.ml-3
                    i.fa.fa-utensils
                    |  Food
                li.menu-items.nav-item
                  button(onclick=`actionDrink()`).btn-drink.btn.btn-light.ml-3
                    i.fa.fa-coffee 
                    |  Drink
                li.menu-items.nav-item
                  button(onclick=`actionSnack()`).btn-snack.btn.btn-light.ml-3
                    i.fa.fa-cookie-bite 
                    |  Snack
                li.menu-items.nav-item
                  button.btn-add.btn.btn-light.ml-3(type='button' data-toggle='modal' data-target='#exampleModal')
                    i.fas.fa-plus
                  #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header
                          h4#exampleModalLabel.modal-title.title-new-category Add New Category
                          button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        .modal-body.content-modal-add-food
                          .panel-body
                            form(action="/api/createFood" method="POST" enctype="multipart/form-data")
                              .form-group.add-menu
                                label Item Code 
                                span.requred-fill *
                                input.item-code.new-menu.form-control(type='text' placeholder='example: FOOD7' name='itemCode' required)
                              .form-group.add-menu
                                label Name
                                span.requred-fill *
                                input.new-menu.form-control(type='text' placeholder='example: Potato' name='nama' required)
                              .form-group.add-menu
                                label Category
                                span.requred-fill *
                                select.new-menu.form-control(name='category')
                                  option.category(value='Food') Food
                                  option.category(value='Drink') Drink
                                  option.category(value='Snack') Snack
                              .form-group.add-menu
                                label Stock
                                span.requred-fill *
                                input.new-menu.form-control(type='number' placeholder='example: 5' name='qty' required onkeydown="if(event.key==='.'){event.preventDefault();}" oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');")
                              .form-group.add-menu
                                label Price
                                span.requred-fill *
                                input.new-menu.form-control(type='number' placeholder='example: 10000' name='price' required onkeydown="if(event.key==='.'){event.preventDefault();}" oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');")
                              .form-group.add-menu
                                label.form-label(for='customFile') Image New Category
                                span.requred-fill *
                                input.new-menu#customFile.form-control(type='file' name='image' accept='.jpg,.jpeg,.png' required)
                              button#submit.btn.btn-primary.float-right.ml-2(type='submit') Create
                              button.btn.btn-secondary.float-right(type='button' data-dismiss='modal') Cancel  
          .card.content-menu
            #AllMenu
              .card-header 
                .row.justify-content-between
                  .col-4
                      button(onclick=`actionAllMenu()`).show-food.btn.btn-light Show All Menu
                      .row#card-snack
              .card-body 
                .row#card-all-menu

            #Food(style='display:none')
              .card-header 
                .row.justify-content-between
                  .col-4
                    h1.title-menu Food
                  .col-5.form-search
                    form.form-inline
                      input.input-search.form-control.mr-sm-2(type='search' placeholder='Search. . .' aria-label='Search')
                      button.btn-search.btn.btn-outline-light(type='submit')
                        i.fa.fa-search


            
              .card-body 
                .row#card-food
                  


            #Drink(style='display:none')
              .card-header 
                .row.justify-content-between
                  .col-4
                    h1.title-menu Drink
                  .col-5.form-search
                    form.form-inline
                      input.input-search.form-control.mr-sm-2(type='search' placeholder='Search. . .' aria-label='Search')
                      button.btn-search.btn.btn-outline-light(type='submit')
                        i.fa.fa-search
              .card-body 
                .row#card-drink
                    
                      

            #Snack(style='display:none')
              .card-header 
                .row.justify-content-between
                  .col-4
                    h1.title-menu Snack
                  .col-5.form-search
                    form.form-inline
                      input.input-search.form-control.mr-sm-2(type='search' placeholder='Search. . .' aria-label='Search')
                      button.btn-search.btn.btn-outline-light(type='submit')
                        i.fa.fa-search
              .card-body 
                .row#card-snacks
                    
                    

                        
      .footer.footer-home
        center 
          | Version 
          .badge.badge-info= vPackage.version  
          |  @2021 Cavalese Food
  

  block content