extends ../layout

block content
  .lds-dual-ring#loader
  .content-mid
    .row 
      .col 
        .box-desc-service
          h1.title-service 
            | French
            br
            | Fries
          h5.title-order Ingredients:
          ul.list-unstyled.components
            li#itemsOrder
              i.fas.fa-check
              span#textOrder Potato
            li#itemsOrder
              i.fas.fa-check
              span#textOrder Black paper  
          a(href="/transaction")          
            button.btn-call.btn.btn-primary Buy

      .col
        img.back-img-service(src="image/vector/blob2.svg", alt="", srcset="") 
        img.img-service(src="image/potato.png", alt="", srcset="") 
    
    .footer.footer-service
      center 
        | Version 
        .badge.badge-info= vPackage.version
        |  @2021 Cavalese Food
  block content