extends ../layout

block content
  .lds-dual-ring#loader
  .content-mid 
    .card.profile-box
      .card-body
        .e-profile
          .row
            .col-12.col-sm-auto.mb-3
              .mx-auto(style='width: 150px;')
                .d-flex.justify-content-center.align-items-center.rounded(style='height: 150px; background-color: rgb(233, 236, 239);')
                  span(style='color: rgb(166, 168, 170); font: bold 8pt Arial; font-size:15px;') 200 x 200
            .col.d-flex.flex-column.flex-sm-row.justify-content-between.mb-3
              .text-center.text-sm-left.mb-2.mb-sm-0
                h3.name.pt-sm-2.pb-1.mb-0 Hans Han 
                .text-muted
                  small.administrator Web Developer
                .mt-2
                  button.btn.btn-primary(type='button')
                    i.fa.fa-fw.fa-camera
                    span  Change Photo
              .text-center.text-sm-right
                .text-muted.mt-2
                  small.started Joined 09 Dec 2017
          .tab-content.pt-3
            .tab-pane.active
              form.form(novalidate='')
                .row
                  .col
                    .row.profile-data
                      .col
                        .form-group.profile-name
                          label.fullname Full Name
                          input.inptFullName.form-control(type='text' name='name' placeholder='Rafi Khoirulloh' value='Hans Han')
                      .col
                        .form-group
                          label.name Username
                          input.inptName.form-control(type='text' name='username' placeholder='hanshan' value='hanshan')
                    .row
                      .col
                        .form-group
                          label.emails Email
                          input.inptEmail.form-control(type='text' name='email' placeholder='hans@gmal.com' value='hans@gmal.com')
                    .row
                      .col.mb-3
                        .form-group
                          label.about About
                          textarea.txtabout.form-control(rows='5' placeholder='My Bio') I will give my best tho
                .row
                  .col-12.col-sm-6.mb-3
                    .mb-2
                      b.change Change Password
                    .row
                      .col
                        .form-group
                          label Current Password
                          input.inptCurrentPass.form-control(type='password' placeholder='••••••')
                    .row
                      .col
                        .form-group
                          label New Password
                          input.inptNewPass.form-control(type='password' placeholder='••••••')
                    .row
                      .col
                        .form-group
                          label
                            | Confirm Password
                            span.d-none.d-xl-inline Password
                          input.inptConfirmPass.form-control(type='password' placeholder='••••••')
                
                .row
                  .col.d-flex.justify-content-end
                    button.save.btn.btn-primary(type='submit') Save Changes