extends ../layout

block content
  .lds-dual-ring#loader
  .content-mid
    .row 
      .col 
        .box-desc-service
          h1.title-service 
            | Customer Service
          p.desc-service If you have problems running this website or something important, dangerous or other related to us, call or send us a message, we are at your service any time.
          button.btn-call.btn.btn-danger 
            i.fas.fa-phone-alt
            span.text-btn-service Call
          button.btn-message.btn.btn-warning.ml-1
            i.far.fa-comment-dots
            span.text-btn-service Message

      .col
        img.back-img-service(src="image/vector/blob2.svg", alt="", srcset="") 
        img.img-service(src="image/vector/CS3.svg", alt="", srcset="") 
    
    .footer.footer-service
      center 
        | Version 
        .badge.badge-info= vPackage.version
        |  @2021 Cavalese Food
  block content