extends ../layout

block content
  .lds-dual-ring#loader
  .base-content
    .content-mid(onload='myFunction()')
      .card.content-transaction
        .card.menu-item
          table.table.table-borderless
            thead
              tr
                th(scope='col') Product
                th(scope='col') Price/items
                th(scope='col') Quantity
                th(scope='col') Total
                th(scope='col') 
            tbody
              tr
                th 
                  img(src='image/potato.png' width='70' height='70' alt='')
                td 
                  h5 French Fries
                td 
                  button.plus.btn.btn-primary.mr-1 
                    i.fas.fa-plus
                  input.quantity-food(type="text" value='1')
                  button.minus.btn.btn-primary.ml-1
                    i.fas.fa-minus
                td 15K
                td.delete 
                  i.delete-icon.far.fa-times-circle
              tr
                th 
                  img(src='image/potato.png' width='70' height='70' alt='')
                td 
                  h5 French Fries
                td 
                  button.plus.btn.btn-primary.mr-1 
                    i.fas.fa-plus
                  input.quantity-food(type="text" value='1')
                  button.minus.btn.btn-primary.ml-1
                    i.fas.fa-minus
                td 15K
                td.delete 
                  i.delete-icon.far.fa-times-circle
              tr
                th 
                  img(src='image/potato.png' width='70' height='70' alt='')
                td 
                  h5 French Fries
                td 
                  button.plus.btn.btn-primary.mr-1 
                    i.fas.fa-plus
                  input.quantity-food(type="text" value='1')
                  button.minus.btn.btn-primary.ml-1
                    i.fas.fa-minus
                td 15K
                td.delete 
                  i.delete-icon.far.fa-times-circle

         
          .desc-order
            
          .quantity 
            

          .card-body

      .footer.footer-home
        center 
          | Version 
          .badge.badge-info= vPackage.version  
          |  @2021 Cavalese Food

  block content