extends layout

block content 
  .lds-dual-ring#loader
  .content-mid
    .card.content-404
      .card-body
        img(src="image/vector/NF.svg", alt="", width="150")
        h1.title-404 404
        p.sub-tile-404 Page not Found 
        p.description-404 Looks like the page you were looking for is no longer here. I suggest you back to Homepage
        a(href='/home')
          button.btn-404.btn.btn-outline-light(type='button') Home
