doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="/")
    title= title
    block style 
      include style
    block script 
      include library
  body
    block sidebar
      include property/sidebar
    block navbar
      include property/navbar
    block content