link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="css/style.css")
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap' rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Rajdhani&display=swap' rel='stylesheet')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css')
link(href='https://fonts.googleapis.com/css2?family=Courgette&display=swap' rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=PT+Sans&display=swap' rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap' rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap' rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap' rel='stylesheet')





