/* Login */
body{
  overflow: -moz-scrollbars-vertical ;
  overflow-x: hidden; 
  background-color: #e3e3e3;
  font-family: 'Fira Sans', sans-serif !important;
}

nav.navbar-header-login{
  background-color:#f08c21 !important ;
  box-shadow: none !important;
}

.col.img-login{
  background-color: #f08c21;
  height: 669px !important;
}

.col.form-input-login{
  background-color: #f08c21;
}

.desc-restaurant{
  width: 50%;
}

img.login-img{
  display: block;
  margin: auto;
  width: 25rem;
  transform: translateY(20%);
  text-align: center;
  opacity: 0.9;
}

p.title-login-header{
  font-size: 25px;
  font-family: 'Courgette', cursive;
  margin-top: -2.4rem;
  margin-left: 3rem;
  color: rgb(55, 53, 53);
}

form.input-login{
  padding: 40px;
  background: #fff;
  transform: translateY(30%);
  width: 70%;
  margin: auto;
  border-radius: 5px;
}

.box-header-logo{
  background-color: #d88023;
  width: 230px;
  height: 50px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #e2821b;
  border: 5px;
  margin-left: 10px;
}


.box-header-logo:hover{
  background-color: #d37817;
  transition: 0.3s;
}

h2{
  font-size: 25px;
  font-weight: 600 !important;
}

.login-hr{
  margin-top: 10px;
}

.form-group{
  padding-top: 15px;
}

button.login-btn{
  float: right;
  margin-top: -10px;
  margin-left: 10px !important;
  height: 30px;
  font-size: 12px;
}

a.register-link{
  color: #f08c21;
  padding-bottom: 5px;
  float: right;
  font-size: 12px;
  opacity: 0.8;

}

a.register-link:hover{
  color: #be690d ;
  text-decoration: none;
}

label.text-show-password{
  font-size: 13px !important;
}

input.inpt::-webkit-input-placeholder {
  color: #000;
  opacity: 0.4;
  font-size: 12px !important;
}

input.inpt.email:focus{
  border-color: #f08c21;
  box-shadow: none !important;
}

input.inpt.password:focus{
  border-color: #f08c21;
  box-shadow: none !important;
}

button.login-btn{
  background-color: #f08c21;
  border-color: #f08c21;
}

button.login-btn:hover{
  background-color: #d88023;
  border-color: #f08c21;
}

label.text-show-password{
  color: #f08c21 ;
}

label.text-show-password:hover{
  color: #be690d ;
}

p.text-desc-restaurant{
  font-family: 'PT Sans', sans-serif;
  margin-left: 2rem;
  line-height: 25px;
  font-size: 18px;
  margin-top: -0.5rem;
  text-align: justify;
}

p.title-desc{
  margin-top: 5rem;
  margin-left: 2rem;
  font-size: 25px;
  font-weight: 600;
}

/* Register */
input.inpt.username:focus{
  border-color: #f08c21;
  box-shadow: none !important;
}

/* 404 */
.content-404 {
  font-family: 'Rajdhani', sans-serif !important;
  text-align: center;
  margin: auto;
  transform: translateY(27%);
  border: 10px;
  width: 40%;
  border-radius: 50px;
  background: #e3e3e3;
  box-shadow:  20px 20px 60px #c1c1c1,
              -20px -20px 60px #ffffff
}

h1.title-404{
  font-size: 80px;
  font-weight: 600;
}

p.sub-tile-404{
  margin-top: -20px;
  font-weight: 700 !important;
}

button.btn-404{
  border-color: #f08c21;
  color: #f08c21;
}

button.btn-404:hover{
  background-color: #f08c21;
}

button.btn-404:focus{
  box-shadow: none;
  border-color: #f08c21;
}

/* navbar */
.dropdown{
  margin-left: auto;
  margin-right: -5rem;
  font-weight: 900;
}

nav.navbar-home{
  background-color: #e6851e !important;
  margin-left: -1.5rem !important;
}

.box-navbar{
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
}

.navbar-content{
  width: 40% !important;
}

button#dropdownMenu{
  width: 80px;
}

.dropdown-menu{
  table-layout: fixed;
  border-collapse: collapse;
  font-family: 'Fira Sans', sans-serif;
}

button#dropdownMenu:focus{
  box-shadow: none;
  border: 1px solid #bf680c;
}

img.photo-profile{
  float: left;
  left: 0;
}

.menu-profile{
  margin-left:  -5rem ;
  font-size: 13px;
  font-weight: 500;
  width: 60px !important;
}

#item{
  font-size: 15px;
  margin-left: -5px;
  opacity: 0.7;

}

#text{
  margin-left: 15px;
  font-size: 13px;
  opacity: 0.7;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;

}

button.btn-menu-dropdown{
  width: 100%;
  text-align: left;
  background-color: transparent;
}

button.btn-menu-dropdown:hover{
  background-color: transparent;
}

/* sidebar */
.text-active{
  background-color: #cf760f;
  color: #fff;
}

.text-active-sub-menu{
  color: #cf760f;
}

#sidebar {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
  font-family: 'Fira Sans', sans-serif;
  background: #fafafa;
}

nav#sidebar{
  margin-top: 3.7rem;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  width: 100%;
}

h4.header-text{
  font-family: 'Courgette', cursive;
  font-size: 21px;
  margin-top: 3px;
}

a.brand-home{
  cursor: pointer;
  margin-left: -3rem;
  margin-top: 5px;
}


#sidebar {
  width: 16%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #f0f0f0;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 12px;
  background: #e6851e;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover, img#itemSidebar:hover {
  color: #ffffff;
  background: #cf760f;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #d07d2a;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 13px !important;
  font-weight: 600;
  opacity: 0.8;
  padding-left: 30px !important;
  background: #dad9d9;
}

ul ul a span{
  margin-left: 10rem;
}

ul ul a:hover{
  background: #e6851e;
}


a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

#itemSidebar{
  margin-left: 10px;
  font-size: 15px;
  /* opacity: 0.8; */
}

#textSidebar{
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600 !important;
  /* opacity: 0.8; */
}


/* home */
.content-mid{
  margin-left: 13.5rem;
}

.banner{
  margin-top: 1rem;
  border-radius: 5px;
  margin-right: 1cm;
  height: 170px;
  width: 99%;
  background-color: #f08c21 !important;
  font-family: 'Fjalla One', sans-serif;
  box-shadow: -4px 5px 5px -2px rgba(133, 133, 133, 0.75);
  
}

img.banner-img{
  border-radius: 5px;
  margin-right: auto ;
  width: 20% !important;
  height: 170px;
}

.text-banner{
  margin-left: 7rem;
  position: initial;
  margin-top: 2rem !important;
}
  


li.menu-items{
  padding: 20px;
  margin-left: -2.7rem;
}

nav.navbar.navbar-expand-lg.navbar-light{
  margin-top: 1rem;
  height: 50px;
}

.content-menu{
  margin-top: 0.7rem;
}

.content-items{
  margin-right: 0.8rem;
}

.btn-food, .btn-drink, .btn-snack, .btn-all-menu, .btn-add{
  background-color: rgb(213, 213, 213);
  border: none;
  color: #f08c21;
  height: 35px;
  font-size: 15px;
  font-weight: bolder;
  box-shadow: 3px 3px 5px rgb(189, 189, 189);
  font-family: 'Fira Sans', sans-serif;
}

.btn-food:hover, .btn-drink:hover, .btn-snack:hover, .btn-add:hover{
  background-color: rgb(208, 208, 208);
  color: #e68824;
}

.btn-food:focus, .btn-drink:focus, .btn-snack:focus, .btn-add:focus{
  box-shadow: none;
  background-color: rgb(196, 195, 195);
  color: #ca761c;
}

input.input-search{
  margin-right: 10px;
  background-color: #ededed;
  border: 1px solid rgb(221, 221, 221);
  color: #5f5f5f !important;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;

}

input.input-search:focus{
  background-color: #e6e6e6;
  border: 1px solid #f08c21;
  box-shadow: none;
}

input.input-search::-webkit-input-placeholder{
  font-size: 12px;
}

button.btn-search{
  border-color: #ce781c !important;
  color: #b46816;
}

button.btn-search:hover{
  background-color: #ce781c !important;
  color: #000;
}

.form-search{
  margin-right: -5.5rem;
}

#AllMenu, #Food, #Drink, #Snack{
  min-height: 250px;
}

h1.title-menu{
  font-family: 'Fira Sans';
  font-weight: 800;
}

img.card-img-top{
  padding: 15px;
}

h5.title-menu{
  font-weight: 800;
  font-size: 13.5px;
}

p.text-price{
  font-size: 30px;
}

.btn-buy-home{
  float: right;
  border-radius: 7px;
  width: 60px;
  font-size: 14px;
  background-color: #f08c21;
}

a.btn-buy-home:hover{
  background-color: #d27f27;
}

a.btn-buy-home:focus{
  border-color: #a5631c;
  color: #ffff;
  background-color: #b0691c;
}


.menu-item{
  border-radius: 15px;
  box-shadow: 5px 5px 5px #eaeaea;
}

/* Food Page */
img.back-food{
  margin-right: auto;
  display: block;
  margin-left: 1rem !important;
}

img.front-food{
  margin-left: 4rem;
  display: block;
  margin-top: -22rem;
  margin-left: 5.5rem !important;
}

.content-food-page{
  margin-top: 2rem;
}

.box-desc-food, .box-desc-drink, .box-desc-snack{
  margin-top: 4rem;
  margin-right: 1rem;
}

.list-food{
  margin-right: 0.5rem !important;
  margin-top: 1rem;
  border-radius: 10px !important;
}

/* Drink Page */
img.front-drink{
  margin-left: 4rem;
  display: block;
  margin-top: -20rem;
  margin-left: 3.7rem !important;
}

.content-drink-page{
  margin-top: 3rem;
}

/* Snack Page */
img.front-snack{
  margin-left: 4rem;
  display: block;
  margin-top: -21rem;
  margin-left: 3.7rem !important;
}

.content-snack-page{
  margin-top: 5rem;
}


/* About Us */
.content-about-us{
  margin-left: 13.5rem;
}


img.back-img-about{
  width: 600px;
  margin-top: 3rem;
}

img.img-about{
  width: 350px;
  display: block;
  margin-top: -23rem;
  margin-left: 7rem;
}

.box-text-about{
  margin-top: 1rem !important;
  border-radius: 10px;
  width: 90%;
  padding: 15px;
  margin: auto;
}

p.title-text-about{
  font-family: 'Courgette', cursive;
  font-size: 25px;
  opacity: 0.8;
}

p.text-about{
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;  
  font-weight: 800;
  text-align: justify;
}

.card-owner{
  margin-top: 2rem !important;
  border-radius: 20px;
  font-family: 'Fira Sans', sans-serif;
  margin: auto;
  background: #e3e3e3;
  box-shadow:  20px 20px 60px #c1c1c1,
              -20px -20px 60px #ffffff

}

img.owner{
  border-radius: 20px;
  width: 250px;
  height: 270px;
  margin-top: 1rem!important;
  margin: auto;
}

h5.title-owner{
  font-weight: 900;
}

h6.sub-tilte-owner{
  font-size: 13px;
}

p.text-owner{
  font-size: 14px;
  font-weight: 500;
}

a.text-btn-owner{
  font-size: 13px;
  font-weight: 500;
  float: right;
}

.box-social-media{
  text-align: center;
  margin-top: 3rem;
}

h3.text-contact-us{
  margin-bottom: 2.5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
}

a.btn-social-media{
  padding: 15px;;
  border-radius: 50%;
  margin: 5px;
}

a.btn-social-media:hover{
  color: #fff;
  opacity: 0.8;
}

.facebook{
  background-color: #3B5998;
  color: #fff;
}

.instagram{
  background-color: #ea4c89;
  color: #fff;
}

.twitter{
  background-color: #55ACEE;
  color: #fff;
}

.whatsapp{
  background-color: #1ec431;
  color: #fff;
}


/* Footer */
.footer-home{
  font-family: 'Fira Sans', sans-serif;
  margin-top: 4rem;
  font-size: 14px;
  font-weight: 600;
  min-height: 30px;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-top: 1px solid rgb(196, 196, 196);
  background-color: #eaeaea;
}

.lds-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  z-index: 99999;
  position: fixed;
  background-color: #e3e3e3;
  margin-left: 13rem;
  width: 100%;
  height: 100vh;

}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin-left: -10rem;
  margin-top: -3rem;
  border-radius: 50%;
  border: 6px solid #f08c21;
  border-color: #f08c21 transparent #f08c21 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Customer Service */
h1.title-service{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 60px;
}

.box-desc-service{
  margin-top: 7rem;
  margin-left: 1.5rem;
}

img.back-img-service{
  width: 600px;
  margin-top: 3rem;
}

img.img-service{
  width: 300px;
  display: block;
  margin-top: -20rem;
  margin-left: 8rem;
}

.btn-call, .btn-message{
  border-radius: 20px;
}

span.text-btn-service{
  margin-left: 10px;
}

.footer-service{
  font-family: 'Fira Sans', sans-serif;
  margin-top: 12rem;
  font-size: 14px;
  font-weight: 600;
  min-height: 30px;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-top: 1px solid rgb(196, 196, 196);
  background-color: #eaeaea;
}

/* Order */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

#itemsOrder{
  color: #f08c21;
}

#textOrder{
  color: #000;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500 !important;
}

h4.title-order{
  margin-top: 15px;
  text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #999999; 
}

::-webkit-scrollbar-thumb:hover {
  background: #5f5a5a;
}


/* transaction */
.content-transaction{
  background-color: #eaeaea;
  margin-right: 1rem;
  border-radius: 10px;
  margin-left: 0.5rem;
  margin-top: 3rem;
  height: 500px;
}

button.minus, .plus{
  font-size: 10px;
  border-radius: 15px;
}

input.quantity-food{
  width: 35px;
}

input.quantity-food {  
  text-align: center;
}

td.delete {
  width: 5rem;
  color: #303030;
}

td.delete:hover{
  color: rgb(196, 22, 22);
  cursor: pointer;
}

/* Profile */
.profile-box{
  width: 99%;
  margin-top: 0.5rem;
}

row.profile-data{
  margin-top: -10rem !important;
}

/* Admin */
.box-weekly{
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
  background-color: #b5b5b5;
  border: 2px solid rgb(116, 116, 116);
  
}

.box-edit-menu{
  background-color: #dad6d6;
  padding: 15px;
  margin-top: 1rem;
  border-radius: 10px;
  margin-right: 0.5rem;
}

img.img-edit{
  width: 400px;
  margin-top: -20rem;
}

.delete-icon, .edit-icon{
  font-size: 12px;
}

span.badge-number{
  float: right;
}

ul.list-group{
  margin-top: 2rem;
}

/* ajax */
.card-text{
  font-size: 16px !important;
  margin-top: 5px;
  font-weight: 400 !important;
}

.card-title{
  margin-left: 10px;
  font-size: 18px;
}

.btn-buy-home{
  bottom: 0 !important;
}

.show-food, .add-food, .dropdown-category{
  box-shadow: 2px 2px 3px rgb(208, 202, 202);
}

/* modal */
.custom-file-upload{
  background: #f7f7f7; 
  padding: 8px;
  border: 1px solid #e3e3e3; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.content-modal-add-food, .content-modal-add-drink, .content-modal-add-snack{
  padding: 20px;
}

.add-menu{
  margin-top: -1.3rem;
}

.new-menu:focus{
  border-color: #f08c21 !important;
  box-shadow: none !important;
}

.dropdown-category{
  width: 100% !important;
}

option.category:hover{
background-color: #f08c21 !important;
}

.title-new-category{
  font-weight: 800;
}

.item-code{
  text-transform: uppercase;
}

.requred-fill{
  color: #ff0000;
}

/* photo size */
.img-items{
  max-width: 150px !important;
  min-width: 150px !important;
  min-height: 150px !important;
  max-height: 150px !important;
}