extends ../layout-ns

block content
  .row.login-page
    .col.img-login
      nav.navbar-header-login.navbar.navbar-light.bg-light
        a.logo-restaurant.navbar-brand(href='#')
          .box-header-logo
            img.d-inline-block.align-top(src='image/logo.png' width='40' height='40' alt='')
            p.title-login-header Cavalese Food
          img.login-img(src='image/vector/login.png', alt="")
          p.title-desc Cavalese Food
          p.text-desc-restaurant
            | Is a restaurant that provides a wide variety of food brand beverages.
            br
            | we will always provide the best service to our customers, and we
            br
            | always serve quality food and drinks and of course hygienic.
            
    .col.form-input-login
      .box-form-login
        form(method='POST' action='/authentication/register').input-login
          h2 Register
          hr.login-hr
          a.register-link(href='/login')
            | Have an Account?
          .form-group
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text 
                  i.fas.fa-user
              input.inpt.username.form-control(type='text' placeholder='Username' name='nama' required)
          .form-group
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text 
                  i.fas.fa-envelope
              input.inpt.email.form-control(type='email' placeholder='Email' name='email' required)
          .form-group
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text 
                  i.fas.fa-lock
              input.inpt.password.form-control.form-password(type='password' placeholder='Password' name='password' required)
          .form-group.form-check
            input#showPassword.form-check-input.form-checkbox(type='checkbox')
            label.text-show-password.form-check-label(for='showPassword') Show Password
            button.login-btn.btn.btn-light(type='submit') Submit


  script(type='text/javascript').
    $(document).ready(function(){
        $('.form-checkbox').click(function(){
          if($(this).is(':checked')){
            $('.form-password').attr('type','text');
          }else{
            $('.form-password').attr('type','password');
        }
      });
    });


      