extends ../../layout

block content
  .lds-dual-ring#loader
  .base-content
    .content-mid(onload='myFunction()')
      //- h1.title-menu Food Page
      .content-food-page
        .row 
          .col 
            img.back-drink(src="image/vector/BFP.svg", alt="", width="400") 
            img.front-drink(src="image/vector/DP.svg", alt="", width="300")   

          .col
            .box-desc-drink
                h1.title-service 
                  | Fresh & Quality Drink
                p.desc-service Quality ingredients and always use fresh ingredients, so that they can be served deliciously to our customers.
              
        .content-drink-page
          .row.justify-content-between
            .col-4
            .col-5.form-search
              form.form-inline
                input.input-search.form-control.mr-sm-2(type='search' placeholder='Search. . .' aria-label='Search')
                button.btn-search.btn.btn-outline-light(type='submit')
                  i.fa.fa-search
                
          .items-food
            .card.list-food
              .card-body 
                button(onclick=`actionDrink()`).show-food.btn.btn-light Show Drink
                button.add-food.btn.btn-light.ml-2(type='button' data-toggle='modal' data-target='#exampleModal')
                  i.fas.fa-plus
                
                #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        h4#exampleModalLabel.modal-title.title-new-category Add New Drink
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                      .modal-body.content-modal-add-drink
                        .panel-body
                          form(action="/api/createDrink" method="POST" enctype="multipart/form-data")
                            .form-group.add-menu
                              label Item Code
                              span.requred-fill *
                              input.item-code.new-menu.form-control(type='text' placeholder='example: DRINK7' name='itemCode' required)
                            .form-group.add-menu
                              label Name
                              span.requred-fill *
                              input.new-menu.form-control(type='text' placeholder='example: Orage Juice' name='nama' required)
                            .form-group.add-menu
                              label Category
                              span.requred-fill *
                              select.new-menu.form-control(name='category')
                                option.category(value='Drink') Drink
                            .form-group.add-menu
                              label Stock
                              span.requred-fill *
                              input.new-menu.form-control(type='number' placeholder='example: 5' name='qty' required)
                            .form-group.add-menu
                              label Price
                              span.requred-fill *
                              input.new-menu.form-control(type='number' placeholder='example: 10000' name='price' required onkeydown="if(event.key==='.'){event.preventDefault();}" oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');")
                            .form-group.add-menu.mt-2
                              label.form-label(for='customFile') Image New Category
                              span.requred-fill *
                              input.new-menu#customFile.form-control(type='file' name='image' accept='.jpg,.jpeg,.png' required)
                            button#submit.btn.btn-primary.float-right.ml-2(type='submit') Create
                            button.btn.btn-secondary.float-right(type='button' data-dismiss='modal') Cancel
                .row#card-drink
                        
        .footer.footer-home
          center 
            | Version 
            .badge.badge-info= vPackage.version  
            |  @2021 Cavalese Food

  block content